
html, body {
    background-color: #e3e3e3 !important;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.is-error{
    border-bottom-color:red;
    -webkit-transition:.3s;
    transition:.3s
}
.errorText{
    font-weight: bold;
    font-size:14px;
    width:100%;
    display:none;
    color:red;
    padding:0 8px;
    margin:5px 0
}
.errorTextName{
     font-size:14px;
     width:100%;
     display:none;
     color:red;
     padding:0 8px;
     margin:5px 0
 }
.errorTextEmail{
    font-size:14px;
    width:100%;
    display:none;
    color:red;
    padding:0 8px;
    margin:5px 0
}
.errorTextUrl{
     font-size:14px;
     width:100%;
     display:none;
     color:red;
     padding:0 8px;
     margin:5px 0
 }
.errorTextCaptcha{
    font-size:14px;
    width:100%;
    display:none;
    color:red;
    padding:0 8px;
    margin:5px 0
}
.successText{
    color: #0bbd88;
    font-size:14px;
    font-weight: bold;
}